/* airplane mode fonts */

.gg-airplane {
  box-sizing: border-box;
  position: relative;
  display: block;cv 
  width: 18px;
  height: 18px;
  transform: scale(var(--ggs, 1));
  background:
    linear-gradient(to left, currentColor 22px, transparent 0) no-repeat
      center/16px 2px,
    radial-gradient(circle, currentColor 60%, transparent 40%) no-repeat right
      center/2px 2px;
}

.gg-airplane::after,
.gg-airplane::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 10px;
  height: 8px;
  border-right: 4px solid;
}
.gg-airplane::before {
  border-top-right-radius: 2px;
  top: 0;
  transform: perspective(10px) rotateX(10deg) skewX(30deg);
  box-shadow: -4px 3px 0 -2px;
}
.gg-airplane::after {
  border-bottom-right-radius: 2px;
  bottom: 0;
  transform: perspective(10px) rotateX(-10deg) skewX(-30deg);
  box-shadow: -4px -3px 0 -2px;
}

/* adding fonts */

.gg-add {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 22px;
}
.gg-add::after,
.gg-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
.gg-add::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px;
}

/* home alt fonts */

.gg-home-alt {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-radius: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: -2px;
}
.gg-home-alt::after,
.gg-home-alt::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-home-alt::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0;
}
.gg-home-alt::after {
  width: 6px;
  height: 10px;
  background: currentColor;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  left: 4px;
  bottom: -2px;
}

/* home fonts */

.gg-home {
  background:
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat 0
      bottom/4px 2px,
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat right
      bottom/4px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-bottom: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -2px;
}
.gg-home::after,
.gg-home::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-home::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0;
}
.gg-home::after {
  width: 8px;
  height: 10px;
  border: 2px solid;
  border-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  left: 3px;
  bottom: 0;
}

/* mail fonts */

.gg-mail,
.gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}
.gg-mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 18px;
  border-radius: 2px;
}
.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}


/* image fonts */

.gg-image {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 16px;
  overflow: hidden;
  box-shadow: 0 0 0 2px;
  border-radius: 2px;
}
.gg-image::after,
.gg-image::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
}
.gg-image::after {
  transform: rotate(45deg);
  border-radius: 3px;
  width: 16px;
  height: 16px;
  top: 9px;
  left: 6px;
}
.gg-image::before {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  top: 2px;
  left: 2px;
}

/* shopping cart fonts */

.gg-shopping-cart {
  display: block;
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 21px;
  background:
    linear-gradient(to left, currentColor 12px, transparent 0) no-repeat -1px 6px/18px
      2px,
    linear-gradient(to left, currentColor 12px, transparent 0) no-repeat 6px
      14px/11px 2px,
    linear-gradient(to left, currentColor 12px, transparent 0) no-repeat 0 2px/4px
      2px,
    radial-gradient(circle, currentColor 60%, transparent 40%) no-repeat 12px
      17px/4px 4px,
    radial-gradient(circle, currentColor 60%, transparent 40%) no-repeat 6px
      17px/4px 4px;
}
.gg-shopping-cart::after,
.gg-shopping-cart::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 2px;
  height: 14px;
  background: currentColor;
  top: 2px;
  left: 4px;
  transform: skew(12deg);
}
.gg-shopping-cart::after {
  height: 10px;
  top: 6px;
  left: 16px;
  transform: skew(-12deg);
}

/* align buttom fonts */

.gg-align-bottom {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 12px;
  width: 12px;
  border-bottom: 2px solid;
  transform: scale(var(--ggs, 1));
  margin-top: 4px;
}
.gg-align-bottom::after,
.gg-align-bottom::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 4px;
  background: currentColor;
  bottom: 2px;
}
.gg-align-bottom::before {
  left: 1px;
  height: 12px;
}
.gg-align-bottom::after {
  height: 6px;
  right: 1px;
  opacity: 0.5;
}

/* code splash fonts */


.gg-code-slash {
  display: block;
  position: relative;
  box-sizing: border-box;
  transform: rotate(15deg) scale(var(--ggs, 1));
  width: 2px;
  height: 16px;
  background: currentColor;
}
.gg-code-slash::after,
.gg-code-slash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  transform: rotate(-60deg);
}
.gg-code-slash::before {
  border-left: 2px solid;
  border-top: 2px solid;
  left: -8px;
  top: 5px;
}
.gg-code-slash::after {
  border-right: 2px solid;
  border-bottom: 2px solid;
  right: -8px;
  top: 3px;
}






